[core]
	ignorecase = false

[branch]
  autosetuprebase = always
  autosetupmerge = always

[apply]
  whitespace = fix

[push]
  default = current

[include]
  path = ~/.gituser

[merge]
  tool = opendiff

[alias]
  # Short alias
  s = status
  co = !sh -c \"git checkout $(git branch | fzf)\"
  mt = mergetool
  b = branch
  cp = cherry-pick

	# Human alias
	diffs = "!git diff --color | diff-so-fancy"
	pop = stash pop
	discard = checkout --
	amend = commit --amend
	uncommit = reset --mixed HEAD~
	unstage = reset -q HEAD --
	abort = rebase --abort
	continue = rebase --continue
	rename = branch -m
	current = rev-parse --symbolic-full-name --abbrev-ref HEAD
	logs = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  tracking = branch -vv

	# Function alias
	search = !sh -c \"git log --oneline | grep $1\"
	delete = !sh -c \"git branch -D $(git branch | fzf) && git branch\"
	track = !sh -c \"git branch $(git current) --set-upstream-to origin/$1\"
	clear-merged = !sh -c \"git branch --merged | grep -E 'feature/|fix/' | grep -v \\* | xargs -n 1 git branch -d\"
