[core]
	ignorecase = false
  excludesfile = ~/.gitignore
	editor = vim

[branch]
	autosetuprebase = always
	autosetupmerge = always

[apply]
	# Detect whitespace errors when applying a patch
	whitespace = fix

[alias]
  s = status
  co = !sh -c \"git checkout $(git branch | fzf)\"
  mt = mergetool
	i = rebase -i
  b = branch
  ls = branch -vv
	cp = cherry-pick
	aa = "!git add . && git commit --amend"
	bo = !sh -c \"git fetch origin $(git current):feature/$1 && git checkout feature/$1 && git branch -u origin/$(git current) feature/$1\"
	bof = !sh -c \"git fetch origin $(git current):fix/$1 && git checkout fix/$1 && git branch -u origin/$(git current) fix/$1\"

	diffs = "!git diff --color $@ | diff-so-fancy"
	pop = stash pop
	clear = checkout -- .
	amend = commit --amend
	logs = log --oneline --decorate

	delete = !sh -c \"git branch -D $(git branch | fzf)\"
	update = pull --rebase
	abort = rebase --abort
	continue = rebase --continue
	rename = branch -m
	merged = branch --merged
	not-merged = branch --no-merged
	current = rev-parse --symbolic-full-name --abbrev-ref HEAD
	origin = !sh -c \"git rev-parse --abbrev-ref --symbolic-full-name @{u} | sed 's/origin\\///g'\"
	rebase-from = !sh -c \"git rebase $(git branch | fzf)\"
	set-origin = !sh -c \"git branch $(git current) --set-upstream-to origin/$1\"
	clear-merged = !sh -c \"git branch --merged | grep -E 'feature/|fix/' | grep -v \\* | xargs -n 1 git branch -d\"

	publish = !sh -c \"git push origin @:refs/for/$(git origin)\"
	publish-draft = !sh -c \"git push origin @:refs/drafts/$(git origin)\"
	publish-to = !sh -c \"git push origin @:refs/for/$(git branch | fzf)\"

[color]
  ui = auto

[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green

[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold

[color "status"]
  added = yellow
  changed = green
  untracked = cyan

[color "diff-highlight"]
  oldNormal = "red bold"
  oldHighlight = "red bold 52"
  newNormal = "green bold"
  newHighlight = "green bold 22"

[push]
	default = current

[include]
  path = ~/.gituser

[merge]
	tool = opendiff
