"*":
  "autocomplete-modules": {}
  "autocomplete-plus": {}
  "branch-status": {}
  core:
    allowPendingPaneItems: false
    audioBeep: false
    disabledPackages: [
      "linter-jscs"
    ]
    packagesWithKeymapsDisabled: [
      "activate-power-mode"
    ]
  editor:
    fontSize: 24
    invisibles: {}
  "exception-reporting":
    userId: "3c6478a4-bf15-fa36-7bc5-517c0d550ef1"
  "git-blame":
    columnWidth: 400
    showOnlyLastNames: false
  "git-diff-details":
    keepViewToggled: false
  "git-history": {}
  "git-log": {}
  "git-projects": {}
  jumpy: {}
  "language-babel":
    autoIndentJSX: true
  "line-jumper":
    numberOfLines: 4
  linter:
    errorPanelHeight: 24
  "linter-eslint": {}
  "linter-js-yaml": {}
  "linter-textlint": {}
  "markdown-preview-plus": {}
  "merge-conflicts": {}
  "mocha-test-runner": {}
  "node-debugger": {}
  "npm-install": {}
  "npm-outdated":
    notifyUpdate: false
  pigments: {}
  react: {}
  "todo-show": {}
  "tree-view": {}
  welcome:
    showOnStartup: false
