"*":
  core:
    allowPendingPaneItems: false
    audioBeep: false
    disabledPackages: [
      "linter-jscs"
      "language-gfm"
    ]
    packagesWithKeymapsDisabled: [
      "activate-power-mode"
    ]
  editor:
    fontSize: 17
    invisibles: {}
  "exception-reporting":
    userId: "3c6478a4-bf15-fa36-7bc5-517c0d550ef1"
  "git-blame":
    columnWidth: 400
    showOnlyLastNames: false
  "git-diff-details":
    keepViewToggled: false
  "highlight-selected":
    lightTheme: true
  "js-hyperclick":
    extensions: [
      ".js"
      ".json"
      ".jsx"
    ]
  jumpy: {}
  "language-babel":
    autoIndentJSX: true
  "line-jumper":
    numberOfLines: 4
  linter:
    errorPanelHeight: 24
  "project-manager":
    showPath: false
    sortBy: "last modified"
  "project-plus":
    autoDiscover: false
    notifications: false
    projectHome: "~/"
  react: {}
  "split-diff":
    diffWords: true
    ignoreWhitespace: true
    leftEditorColor: "red"
    rightEditorColor: "green"
    syncHorizontalScroll: true
  "terminal-plus":
    core: {}
    style:
      animationSpeed: 10
      defaultPanelHeight: "40%"
  "toggle-quotes":
    quoteCharacters: "\"'`"
  welcome:
    showOnStartup: false
