# For more details, please take a look with Atom package: snippets-collection

# An example CoffeeScript snippet to expand log to console.log:
#
# '.source.coffee':
#   'Console log':
#     'prefix': 'log'
#     'body': 'console.log $1'

# Generate Snippets Block
'.source.coffee':
  'snippets.cson':
    'prefix': 'snippets'
    'body': """
\t'$1':
\t'prefix': '$1'
\t'body': \"\"\"
$2
\"\"\"
"""
